<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
<!-- Logo of Owen -->
  <div class="col-xs-3">
    <div>
      <img class="owen" src="https://cl.ly/0h0W371N2k2L/[c06ff91677cb12a00c621c4badc56c52]_Image%25202016-12-26%2520at%25202.09.09%2520PM.png" alt="Owen">
    </div>
  </div>

<!-- Adding another class for the slogan font -->
  <div class="col-xs-4 slogan">
    Letting the world know about Owen's quotes.
  </div>

<!-- Links to our other sections -->
  <div class="col-xs-5 links">
    <%= link_to 'Contribute', '#' %>
    <%= link_to 'About', '#' %>
  </div>
</header>

<hr/>
<br class="clear"/>

<%= yield %>

</body>
</html>
