<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
<!-- Logo of Owen -->
  <div class="col-xs-3">
    <div>
    <%= link_to root_path do %>
      <img class="owen" src="https://cl.ly/0h0W371N2k2L/[c06ff91677cb12a00c621c4badc56c52]_Image%25202016-12-26%2520at%25202.09.09%2520PM.png" alt="Owen">
    <% end %>    
    </div>
    
  </div>

<!-- Adding another class for the slogan font -->
  <div class="col-xs-4 hidden-xs slogan">
    Letting the world know about Owen's quotes.
  </div>

<!-- Links to our other sections -->
  <div class="col-xs-8 col-xs-offset-1 col-sm-offset-0 col-sm-5 links">
  
  <%= link_to 'Contribute', '#', data: {toggle: 'modal','target': '#myModal'} %>
  &nbsp; &nbsp;
  <%= link_to 'About', about_path %>
  </div>
</header>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Contribute Your Quote</h4>
      </div>
      <div class="modal-body">
      <!-- from new.html -->
        <%= simple_form_for Quote.new do |f| %>
        <%= f.input :saying, label: "What a Doge would say?", placeholder: "Feed me chicken!" %>
        <br />
        <%= f.input :author, label: "Name of doge", placeholder: "Oliver the Pom" %>
        <br />
        <%= f.submit 'Create', class: 'btn btn-success' %>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit 'Add Quote', class: 'bth btn-success' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Nav bar -->
<hr/>
<br class="clear"/>

<div class="container">
<% if flash[:error].present? %>
  <div class="col-xs-10 col-xs-offset-1 alert alert-danger">
    <%= flash[:error].html_safe %>
  </div>   
  <% end %>
<%= yield %>

  <div class="footer">
    <div class="container">
      <div class="col-xs-12 col-sm-6">
          <!-- Ruby link -->
        <%= link_to "I need moar doge!", root_path, class: "next-quote" %>
      </div>
      <div class="col-xs-12 col-sm-6 footer-blurb">
        Proudly developed by <a href="https://twitter.com/angusyang91" target="_blank">Angus</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>
